table {
  table-layout: fixed;
  background-color: #333;
  border-spacing: 1px; }
  table tr {
    background-color: white; }
    table tr td, table tr th {
      text-align: center;
      width: 2.5em; }
    table tr td.letter {
      font-weight: bold; }
  table tr.alt-row-color {
    background-color: #37F; }
